body {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: deepskyblue;
  color: white;
  text-align: center;
  padding: 20px;
}

main {
  padding: 20px;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: rgb(30, 69, 31);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  div {
    width: 48%;
  }
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

label {
  font-weight: bold;
}

header {
  background-color: #2196f3;
  color: white;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

input[type="text"],
input[type="email"],
textarea,
button[type="submit"] {
  box-shadow: 0px 0px 5px #ccc;
}