body {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: deepskyblue;
  color: white;
  text-align: center;
  padding: 20px;
}

main {
  padding: 20px;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1575380591643-b2c92368dc6d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hpY2FnbyUyMHNreWxpbmV8ZW58MHx8MHx8&w=1000&q=80");
  background-size: cover;
}

form {
  font-size: 1.2em;
  max-width: none;
  margin: 0 auto;
  background-color: rgba(3, 138, 255, .6);
  background-position: center center;
  display: flex;
  padding: 2em;
  flex-direction: column;
  border-radius: 1em;
}

label {
  display: block;
  font-size: 1.5em;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 1.5em;                             
  border: 1px solid #ccc;
  border-radius: 0;
  margin-bottom: 2em;
  max-width: 100%;
  font-size: 1em;
}

button[type="submit"] {
  background-color: rgb(30, 69, 31);
  color: white;
  border: none;
  border-radius: 0;
  padding: 1em 2em;
  cursor: pointer;
  max-width: 100%;
  font-size: 1.8em;
}

@media only screen and (min-width: 768px) {
  main {
    padding: 20px;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1575380591643-b2c92368dc6d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hpY2FnbyUyMHNreWxpbmV8ZW58MHx8MHx8&w=1000&q=80");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  div {
    width: 48%;
  }
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

label {
  font-size: 1em;
  font-weight: bold;
}

header {
  background-color: #2196f3;
  color: white;
}

button[type="submit"] {
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  font-size: 1em;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

input[type="text"],
input[type="email"],
textarea,
button[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px #ccc;
}
